body {
    background-color: rgb(99, 99, 99);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
}

p {
    margin: 5px 0;
    color: #777;
}

.profile-info, .skills, .social-links {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.social-links a {
    display: block;
    color: #3498db;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #2980b9;
}